@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Poppins:wght@400;500&display=swap');

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: Inter, 'sans-serif';
}

nav a{
    padding: 1rem 0.5rem;
    text-decoration: none;
    color: #2C3E50;
}

nav a:visited{
    color: #2C3E50;
}

#heroBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10rem;
    margin-top: 10rem;
}

#hero-h1{
    font-family: Poppins;
    font-size: 2.5rem;
}

#hero-p{
    font-family: Inter, 'sans-serif';
}

.socialLink{
    color: #2C3E50;

}

#github, #linkedin{
    padding-left: 1rem;
}

/* MEDIA QUERY */

@media(max-width: 650px){
    #heroBox{
        margin-left: 2rem;
        margin-top: 5rem;
    }
}