@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Source+Sans+Pro:wght@300;400;600&display=swap'); 

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    font-family: montserrat;
    display: flex;
    flex-direction: column;
}

.hero{
    padding: 10rem;
}

.name{
    font-size: 4rem;
    color: #5256f4;
}

.overview{
    font-size: 2.5rem;
    padding: 1rem 0;
}

    /* ANIMATION */


    .hero{
        animation-duration: 2s;
        animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 100%; 
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }

    .aboutWrapper{
        animation-duration: 2s;
        animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 100%; 
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
      


#heroLink:hover{
    color: #fff;
    background-color: #5256f4;
}


#heroLink{
    color: #000;
    font-family: montserrat;
    padding: 1rem 2rem;
    border: 2px solid #5256f4;
    font-size: 1.5rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

a{
    text-decoration: none;
}

.aboutWrapper{
    background-color: #5256f4;
    padding: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aboutTextContent{
    font-family: montserrat;
}

.box{
    color: #fff;
    font-family: poppins;
    font-size: 1.5rem;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5rem;
}

.dp{
    height: 20rem;
    width: 12rem;
}

.resumeBtn{
    padding: 1rem;
    color: #fff;
    border: 2px solid #fff;
    font-family: montserrat;
}

.resumeBtn:hover{
    color: #000;
    background-color: #fff;
}

.projectsWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectText{
    font-family: montserrat;
    font-size: 3rem;
}

.verticalBox{
    display: flex;
    flex-direction: column;
}

.projectBox{
    display: flex;
    flex-direction: row;
}

.btnArea{
    display: flex;
    flex-direction: row;
    padding: 2rem 4rem;
}

.infoText{
    font-family: montserrat;
    font-size: 1.1rem;
}

.visitProject, .gitHubRepo{
    font-size: 1.1rem;
    border: 2px solid #5256f4;
    padding: 1rem;
    text-decoration: none;
    color: #5256f4;
    margin: 1rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.gitHubRepo:hover{
    background-color: #5256f4;
    color: #fff;
}

.visitProject:hover{
    background-color: #5256f4;
    color: #fff;
}

.projectInfo{
    padding: 4rem;
}


.projectImg{
    height: 20rem;
    width: 40rem;
}

footer{
    background-color: #222;
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mail{
    padding: 2rem;
}

.mailBtn{
    background-color: transparent;
    padding: 1rem 2rem;
    font-family: montserrat;
    border: 1px solid #fff;
    color: #fff;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.mailBtn:hover{
    background-color: #fff;
    color: #000;
}

.social{
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
}

.cp{
    color: #fff;
    font-size: 0.8rem;
    margin: 2rem 0;
}


/* MEDIA QUERY */

@media(max-width: 650px) {
    .aboutWrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutTextContent{
        padding: 2rem;
    }

    .projectBox{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .infoText{
        padding: 0 2rem;
    }
    .projectImg{
        width: 30rem;
    }

    footer{
        flex-direction: column;
    }

    .socialBox{
        padding: 1rem 0;
    }
}
