@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Source+Sans+Pro:wght@300;400;600&display=swap'); 

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    font-family: "Source Sans Pro";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
